<h1>New Restaurant</h1>
<%= simple_form_for @restaurant do |r| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= r.submit %>
<%= end %>